.page {
  display: block;
  position: relative;
  z-index: 2;
  top: 400px;
  height: 100%;
  background-color: #000;
  height: 22700px;
}
.gallery {
  position: relative;
  background-color: #000;
  z-index: 3;
  top: 400px;
}