.page {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: var(--maxWidth);
  padding: 1rem 0.75rem;
}

.hero {
  /* fallback, mainly visible when hero image is loading */
  background-color: var(--colorSecondary);
  /* fallback when there is no hero image */
  background:
    radial-gradient(
      ellipse at 50% 50%,
      color(var(--colorSecondary) l(+ 10%)) 15%,
      var(--colorSecondary) 70%
    );
}

.pageContent {
  z-index: 2;
}

.body {
  margin-top: 2em;
  color: #fff;
  height: 100%;

  & img {
    width: 100%;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    & img {
      width: 100%;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    & img {
      max-width: 90%;
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    & img {
      max-width: 80%;
    }
  }

  & pre {
    background-color: #000;
  }

  & code {
    color: #fff;
  }

}
