.wrapper {
  border: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(#000, 0.7);
  transition: all 0.2s linear 0s;
}

@media (min-width:768px) {
  .wrapper {
    background-color: transparent;
    padding-top: 30px;
  }
}

.docked {
  background-color: rgba(#000, 0.7) !important;
  padding: 0 0 0 0 !important;
  transition: all 0.2s linear 0s;
  :global #logo {
    margin-top: 6px;
    padding-bottom: 0px;
    width: 54px;
    -o-transition: width 0.2s linear 0s;
    -moz-transition: width 0.2s linear 0s;
    -webkit-transition: width 0.2s linear 0s;
  }
}

:global .navbar-nav,
:global .dropdown-toggle {
  margin: 6px 20px 0 0;

  li {
    margin: 0;
  }

  > li > a {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    background-color: transparent !important;
    text-decoration: none;

    /*
    &:focus,
    &:hover {
      background-color: transparent !important;
      border-color: rgba(255, 255, 255, 0.5) !important;
    }
    */
  }

  > li > .active {
    border-color: rgba(255, 255, 255, 0.6);
  }
}

:global .dropdown-menu {
  background-color: rgba(#000, 0.7) !important;

  > li > a {
    color: #fff !important;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    border-color: transparent !important;

    &:hover,
    &:focus {
      background-color: transparent !important;
      border-bottom: 2px solid transparent;
      border-color: rgba(255, 255, 255, 0.9) !important;
      color: #fff !important;
    }
  }
}

:global .navbar-toggle {
  border: 0 !important;
  border-radius: 0 !important;
  margin-top: 2px !important;

  &:hover,
  &:focus {
    background-color: transparent !important;
  }
}

:global .icon-bar {
  background-color: #fff !important;
}


@-webkit-keyframes :global(dash) {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes :global(dash) {
  to {
    stroke-dashoffset: 0;
  }
}
// creating second keyframe set for Safari support on hover
@-webkit-keyframes :global(dashing) {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes :global(dashing) {

  to {
    stroke-dashoffset: 0;
  }
}

:global #logo {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 2s linear forwards;
  -o-animation: dash 2s linear forwards;
  -moz-animation: dash 2s linear forwards;
  animation: dash 2s linear forwards;
  width: 60px;
  -o-transition: width 0.2s linear 0s;
  -moz-transition: width 0.2s linear 0s;
  -webkit-transition: width 0.2s linear 0s;
  margin-top: 2px;
  position: relative;
  padding-bottom: 6px;
  left: 20px;
  opacity: 0.8;
  &:hover {
    -webkit-animation-name: dashing;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: forwards;
    -o-animation: dashing 2s infinite linear fowards;
    -moz-animation: dashing 2s infinite linear fowards;
    animation: dashing 2s infinite linear fowards;
    opacity: 1;
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
  }
}

:global .navbar-collapse {
  border: 0;
}

